body {
background-image: url("https://blog.activision.com/eikmo72643/attachments/eikmo72643/call-of-duty/729/1/CoD_Heroes_Main.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

h1 {
	text-align: center;
	margin: auto;
	color: red;
	font-size: 100px;
	font-family: fantasy;
}

p {
	text-align: center;
	margin: auto;
	color: red;
	font-size: 40px;
	font-family: fantasy;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	font-size: 40px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #1a1aff;
    text-align: center;
    padding: 20px 20px;
}
